:root {
	--main-font: 'Roboto', sans-serif;
    
	--main-color: #000000;
	--accent-color: #ff6b08;
	--secondary-font: #ffffff;
    --footer-color: #545454;

	--animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}
