<header class="header">
   <div class="header-container">
      <nav class="nav-box">
         <a href="./index.html" class="nav-box__link">
            <img src="./images/film.svg" width="24px" height="24px" alt="logo" />
            <span class="logo-text">Filmoteka
            </span>
         </a>
         <ul class="nav-list">
            <li class="nav-list__item"><a id="home" class="nav-list__link nav-list__link--active"
                  href="./index.html">Home</a>
            </li>
            <li class="nav-list__item"><a id="library" class="nav-list__link" href="">my library</a></li>
         </ul>
         <div id="google-box-id" class=""><button type="button" id="google" class="google-btn google-btn--pos">Log
               in</button></div>


      </nav>

      <div class="js-box">

      </div>
   </div>
</header>